<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define Logging Targets -->
  <targets>
    <!-- Write logs to Windows Event Log -->
    <target xsi:type="EventLog" name="eventlog"
            source="SwiftCartApp"
            log="Application"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
  </targets>

  <!-- Define Logging Rules -->
  <rules>
    <!-- Log everything from Info and above -->
    <logger name="*" minlevel="Info" writeTo="eventlog" />
  </rules>

</nlog>
